.footer {
    display: block;
    background: var(--bacgroung-gradient1);
    color: var(--text-color1);
    width: 100%;
    padding: 3%;
    margin-top: 10%;

    align-self: flex-end;
    line-height: 2;
    text-align: center;
}

.footer__info {
    text-align: center;
}

.footer__info h5 {
    margin: 10px;
}

.footer__redesSociales {
    text-align: center;
}

.footer__redesSociales a {
    margin: 10px;
    cursor: pointer;
}

.footer__redesSociales a>:hover {
    transform: scale(1.3);
    transition: 0.2s;

}