/*estilos de la NOTICIAS CARD*/


.contenedor_hijo {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    padding: 15px 15px;
    text-align: left;

    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
    padding: 30px 20px;
    text-align: center;
    color: var(--text-color1);
    background: var(--bacgroung-gradient1);
    border-radius: 20px;
}

.contenedor_hijo_interno {
    width: 100%;
    /*-webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0 0 7px 0 gray;
*/
    /*padding: 10px 10px;*/
    margin: 0%;
    text-align: left;
}

.contenedor_hijo_interno .icon {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.Title {
    font-family: arial;
    font-weight: bolder;
    font-size: 38px;
    margin: 0%;
    color: var(--text-color1);
    text-align: center;
    padding: 50px 50px;
}

.Title_2 {
    font-family: arial;
    font-size: 24px;
    margin: 0%;
    color: #cf102d;
    text-align: left;
    /*padding: 10px 10px;*/
}

.subTitle_1 {
    font-size: 14px;
    /*padding: 10px 10px;*/
    text-align: left;
    margin: 0%;
    color: var(--text-color1);
}

.subTitle_2 {
    font-size: 14px;
    font-weight: bolder;
    /*padding: 10px 10px;*/
    text-align: right;
    margin: 0%;
    color: var(--text-color1);
}

.subTitle_3 {
    font-size: 14px;
    font-style: italic;
    /*padding: 10px 10px;*/
    text-align: right;
    margin: 0%;
    color: var(--text-color1);
}

.p {
    font-size: 16px;
    /*padding: 10px 10px;*/
    text-align: left;
    line-height: 1.8;
}

@media screen and (min-width: 1100px) {
    .imagenCard div:first-child {
        background-color: #ffffff;

        height: 75%;
    }

    .videoCard div:first-child {
        background-color: #ffffff;

        height: 75%;
    }



}